header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-right: 1rem;
}

header img {
  width: 50px;
  filter: invert();
}

h1 {
  text-decoration: underline;
}

h1,
p {
  margin: 1rem 2rem 1rem;
  text-align: center;
}