* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(34, 34, 34);
  color: whitesmoke
}

main,
section {
  display: flex;
  flex-direction: column;
  place-items: center;
}

h1 {
  color: rgb(0, 162, 255);
  text-decoration: underline;
}

h1,
p {
  margin: 1rem 2rem 1rem;
  text-align: center;
}

span {
  color: rgb(0, 162, 255);
  font-weight: bolder;
  font-style: italic;
  font-size: 1.2rem;
}

img {
  width: 300px;
  border-radius: 20px;
}